@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');


*{

margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;

}



body{
  
background-color: #3318E8;


color: white;


}


.header{


  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background-color:transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo{


color: white;
text-decoration: none;


}

.navbar a{

font-size: 18px;
color:white;
text-decoration: none;
font-weight: 500;
margin-left: 35px;
transition: .3s;

}

.navbar a:hover{

color: blue;


}

.home {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 0 10%;
  position: fixed;
  top: -100px;
  left: 450px;
}

